{% extends 'ProyectoWebApp/base.html' %}
{%load static%}
{%block content%}
<body>
    <main class="container">
        <section class="left">
            <h1>BLOG PRINCIPAL</h1>
            <h2>Marcos Servezynski</h2>
            <p>{% lorem 3 b random %}</p>
            <p>{% lorem 3 b random %}</p>
            <p>{% lorem 3 b random %}</p>
            <p>{% lorem 3 b random %}</p>
        </section>
        
        <section class="right">
            <aside>
                
                soy el aside
            </aside>
        </section>
    </main>

    
    




</body>




{% endblock %}